.user_input, .pw_input {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.user_input input, .pw_input input {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 1rem;
}

.user_input input:focus, .pw_input input:focus {
  outline: none;
  border-color: #4CAF50; 
}

.user_input svg, .pw_input svg {
  width: 20px;
  height: 20px;
  color: #888;
}
