.products_container {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
  justify-content: center;
}

h4 {
  text-align: left;
  margin-left: 3.5rem;
}

.back_button {
  margin: 1rem auto;
}

.back_button_container {
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}