.card container {
  margin: 1rem 0;
}

.card_container img {
  width: 140px;
  height: 140px;
  border-radius: 20px;
  object-fit: contain;
}

.card_container h2 {
  font-size: 1.2rem;
  margin: 0.4rem 0;
  width: 140px;
}

.card_container span {
  font-weight: 600;
}