.header {
  background-color: #ddd;
}

.none {
  display: none;
}

#myLinks {
  text-align: right;
  position: absolute;
  padding: 5rem 2rem 2rem 2rem;
  right: 0;
  top: 0;
}

.block {
  display: block;
}

.icon {
  font-size: 2.5rem;
  width: fit-content;
  display: block;
  position: absolute;
  padding: 1rem 2rem;
  right: 0;
  top: 0;
}

.navBarLink:hover {
  background-color: #ddd;
  color: black;
}

#myLinks a {
  text-decoration: none;
  color: black;
  margin-bottom: 0.4rem;
  font-weight: 600;
}

.logout-btn {
  background-color:  #697861; 
  color: white; 
  border: none; 
  padding: 10px 20px;
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 14px;
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
  margin: 1rem;
  position: absolute;
  top: 0;
  left: 0;
}