.totalCount_container div {
  display: flex;
  justify-content: space-between;
  margin: 1rem 2rem;
}

.total_container span:last-of-type {
  font-weight: 800;
}

.shipping-select {
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  outline: none;
  cursor: pointer;
}

.shipping {
  margin: auto 0;
}