body {
  margin: 0 auto;
  text-align: center;
  background-color: #eee;
  font-family: Arial, sans-serif;
}

.logoImg {
  will-change: filter;
  transition: filter 300ms;
  width: 11rem;
}
.logoImg:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logoImg.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}